@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model calisan
@{
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Kullanıcı Adı</label>
            <input type="text" class="form-control" id="ad"asp-for="@Model.Name">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Kullanıcı Soyadı</label>
            <input type="text" class="form-control" id="soyad" asp-for="@Model.Soyad">
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">İlgili Kanun</label>
            <input type="text" class="form-control" id="kanun" asp-for="@Model.Kanun">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">İşe Giriş Tarihi</label>
            <input type="text" class="form-control"id="prim" asp-for="@Model.Prim">
        </div>
        


    </form>
}
