@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Company

    @{

        foreach (var item in Model.notes)
        {
            <div class="alert alert-danger" data-note-id="@item.Id" role="alert">
                @item.Text
            </div>
        }

    }
